html(lang="zh_CN")
  head
    title=(title)
    link(rel="stylesheet", href="./stylesheets/style.css")
    link(rel="icon", href="./favicon.ico", type="image/x-icon")
  body
    .wrap
      p
        img(src="#{logo}", alt="") 
        span  #{desc}
      h1.text-up #{title}
      #container
          #{text}
      p
        img(src="https://i.loli.net/2019/04/19/5cb94c02ab753.jpg")